In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./result.csv')
data.head()

   negative  neutral  positive  compound
0     0.000    0.769     0.231    0.2023
1     0.535    0.465     0.000   -0.5574
2     0.202    0.798     0.000   -0.5106
3     0.191    0.809     0.000   -0.3818
4     0.000    0.550     0.450    0.5994

In [3]:
data['cluster'] = data[['negative','neutral','positive','compound']].idxmax(axis=1)

In [5]:
data.head(15).to_csv('./result_sample.csv', index=False)